<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IdentiFi</title>

     <!--Stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/CSS/consent.css">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="\static\js\consent.js"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">Identi.Fi App</span>
    </nav>

    <div id="explanation-area">
        <h1 class="explanation">  Participant Consent </h1>
        <p>
            As a participant you hereby give consent to the following:
        </p>
        <ul>
            <li> The use of the participant response data for algorithm testing and training </li>
            <li> Permission for third party researchers and project assessors to view participant response data </li>
            <li> Permission to present response data to the general public during oral project presentations</li>
        </ul>

        <p>
            The anonymity of the participant will be maintained in the following manner:
        </p>
        <ul>
            <li> Participant biographical information is not asked for, collected or stored </li>
            <li> Participant contact details are not asked for, collected or stored </li>
        </ul>

        <p>
            Participants are free to contact the following individuals if there are any concerns or complaints
            regarding the way in which the data collection procedure has been conducted:
        </p>
        <ul>
            <li> Rebecca Jasper (researcher): 1066586@students.wits.ac.za </li>
            <li> Thabang Mabula (researcher): 1364103@students.wits.ac.za </li>
            <li> Professor Estelle Trengove (supervisor): estelle.trengove@wits.ac.za </li>
        </ul>

        <p>
            <input type="checkbox" name="consent" id="consent-checkbox">
            <b>
                I hereby provide consent to my response to the Machine Learning App data collection
                procedure to be used as mentioned above.
            </b>
        </p>
    </div>
</body>
</html>