<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=false" />
    <title>IdentiFi</title>

     <!--Stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/CSS/explanation.css">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="\static\js\explanation.js"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">Identi.Fi App</span>
    </nav>

    <div id="explanation-area">
        <h1 class="explanation">  The Big Idea </h1>
        <p>
            In real life, it's often
            hard for authorities to find a person from peoples'
            descriptions alone.
        </p>
        <p style="text-align: center">
            The Identi.Fi App aims to change that.
        </p>
        <p>
            The app aims to allow you to give a brief description of a person and
            create a facial composite, a.k.a an identikit, of the person in an
            easy, user-friendly way. With this description, our Identi.Match App
            will allow for authorities to find possible matches to your description
            in an existing person database.
        </p>
        <p>
            The potential, positive impact that this app can have is huge.
            Some possible uses for it include:
        </p>
        <ul>
            <li> Finding missing persons </li>
            <li> Identifying suspects </li>
            <li> Etc.</li>
        </ul>

        <p>
            Please help us make this all possible by helping identify an "unknown"
            person that we're about to introduce to you. Your participation will really
            help us make this app as effective as possible.
        </p>
    </div>

     <div id="brand-name-area">
        <p class="brand-name">
            IDENTI.FI <br>
            APP
        </p>
        <p class="sub-heading">
            Made by Rebecca Jasper and Thabang Mabula
        </p>
    </div>

    <button class="continue-btn"> Continue </button>

</body>
</html>