<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=false" />
    <title>IdentiFi</title>

     <!--Stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/CSS/instructions.css">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="\static\js\instructions2.js"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">Identi.Fi App</span>
    </nav>

    <div id="explanation-area">
        <h1 class="explanation">  Instructions </h1>
        <p id = 'instructions-text'>
            The control panel shown on the right is the same control panel that
            you will be using when you recreate the unknown person's face.
            It is therefore advised that you examine these characteristics
            on the person you will see carefully.
        </p>

        <p id = 'instructions-text'>
            Please note that this is a Beta version of the app and so there are a few
            glitches when displaying the app. If the Identikit stretches on window resize,
            just click on one of the sliders to make it look normal again. If you would like to zoom;
            scroll and then click on one of the sliders to see the effects of the zoom.
            If this is confusing you - ignore it. These shouldn't be major problems that hinder your
            ability to use the app.
        </p>

        <img src='static/img/control-panel.png' id='photo'></img>

        <p id = 'ready-text'>
            When you're ready to view the image, press the "Start" button below.
        </p>
    </div>

    <button class="continue-btn"> Start </button>

    <div class="loader"></div> 

</body>
</html>