<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=false" />
    <title>Statement</title>

    <!--Stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/CSS/statement.css">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">

    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="\static\js\statement.js"></script>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">Identi.Fi App</span>
    </nav>

    <div id="explanation-area">
        <h1 class="explanation"> Statement </h1>

        <p> Did you know of/see this person prior to this <span style="color: red"> * </span>:
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="known-before-group" id="known-before-yes">Yes
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="known-before-group" id="known-before-no">No
              </label>
            </div>
        </p>

        <div class="details" style="display: none">
            <p>
                Do you know the person's name?
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="person-name-group" id="person-name-yes">Yes
                  </label>
                </div>

                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="person-name-group" id="person-name-no">No
                  </label>
                </div>

                <div id="name-is-known" style="display: none">
                    First name: <input type="text" class="form-control" placeholder="Person's first name" id="firstname">
                    Surname: <input type="text" class="form-control" placeholder="Person's surname" id="surname">
                </div>

            </p>
        </div>

        <p>
            Person's sex <span style="color: red"> * </span>:
              <select id="gender">
                <option value="unknown">Unknown</option>
                <option value="female">Female</option>
                <option value="male">Male</option>
                <option value="other">Other</option>
              </select>
        </p>

        <p>
            Person's race <span style="color: red"> * </span>:
              <select id="race">
                <option value="unknown">Unknown</option>
                <option value="white">White</option>
                <option value="coloured">Coloured</option>
                <option value="indian">Indian</option>
                <option value="asian">Asian</option>
                <option value="black">Black</option>
              </select>
        </p>

            <button type="button" class="btn btn-success" id="submit-btn" style="display: none">Submit Response</button>
    </div>
</body>

</html>