<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Statement</title>

    <!--Stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/CSS/statement.css">
    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="\static\js\statement.js"></script>
</head>

<body>
    <h1> Statement </h1>

    <p> Did you now of/see this person prior to this:
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio" id="known-before-yes">Yes
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio" id="known-before-no">No
          </label>
        </div>
    </p>

    <div class="details" style="display: none">
        <p>
            Do you know the person's name?
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" id="person-name-yes">Yes
              </label>
            </div>

            <div id="name-is-known" style="display: none">
                First name: <input type="text" class="form-control" placeholder="Person's first name" id="firstname">
                Surname: <input type="text" class="form-control" placeholder="Person's surname" id="surname">
            </div>

            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" id="person-name-no">No
              </label>
            </div>

        </p>
    </div>
        <p>
            Person's sex:
            <select id="gender">
              <option value="other">Other</option>
              <option value="female">Female</option>
              <option value="male">Male</option>
              <option value="unknown">Unknown</option>
            </select>
        </p>

        <p>
            Person's race:
            <select id="gender">
              <option value="other">White</option>
              <option value="female">Coloured</option>
              <option value="male">Indian</option>
              <option value="male">Asian</option>
              <option value="unknown">Black</option>
              <option value="unknown">Unknown</option>
            </select>
        </p>

        <button type="button" class="btn btn-success" id="submit-btn" style="display: none">Submit Response</button>

</body>

</html>