body {
    background-color: #171717;
}



.sub-heading {
    color: white;
    font-family: 'Crimson Pro', serif;
}



.home-page-real-image {
    height: 300px;
    position: absolute;
    z-index: 5;
    margin-left: 600px;
    margin-top: 5%;
    animation-duration: 6s;
    animation-name: slide-real;
}
.home-page-cartoon-image {
    height: 300px;
    position: absolute;
    z-index: 5;
    float: right;
    margin-left: 1000px;
    margin-top: 5%;
    animation-duration: 6s;
    animation-name: slide-fake;
}

@keyframes slide-real {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 600px;
  }
}

@keyframes slide-fake {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 1000px;
  }
}

h1.explanation {
    font-family: 'Crimson Pro', serif;
    text-align: center;
}



/* Mobile Styles */
@media only screen and (max-width: 400px) {
    #explanation-area {
        color: black;
        background-color: #f0f0f0;
        font-family: 'Raleway', sans-serif;
        width: 90% ;
        padding: 25px 50px;
        margin-left: 5%;
        margin-top: 5%;
    }

    #brand-name-area {
        display: none;
    }

    .brand-name {
        display: none;
    }

    button.continue-btn {
        font-family: 'Crimson Pro', serif;
        font-size: 250%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 20%;
        width: 60% !important;
        text-align: center;
        background-color: #f0f0f0;
        border: none;
        display: inline-block;
    }

}

@media only screen and (max-height: 400px) and (orientation:landscape) {
    #explanation-area {
        color: black;
        background-color: #f0f0f0;
        font-family: 'Raleway', sans-serif;
        width: 90% ;
        padding: 25px 50px;
        margin-left: 5%;
        margin-top: 5%;
    }

    #brand-name-area {
        display: none;
    }

    .brand-name {
        display: none;
    }

    button.continue-btn {
        font-family: 'Crimson Pro', serif;
        font-size: 250%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 20%;
        width: 60% !important;
        text-align: center;
        background-color: #f0f0f0;
        border: none;
        display: inline-block;
    }
}


/* Desktop Styles */
@media only screen and (min-width: 961px) {
    #explanation-area {
        color: black;
        background-color: #f0f0f0;
        font-family: 'Raleway', sans-serif;
        width: 50% ;
        padding: 25px 50px;
        overflow: hidden;
        margin-top: 2%;
        margin-left: 50px;
        float: left;
    }
    #brand-name-area {
        margin-top: 5%;
        margin-right: 140px;
        text-align: center;
        width: 30%;
        float: right;
    }

    .brand-name {
        animation-duration: 3s;
        animation-name: slidein;
        font-size: 600%;
        color: white;
        font-family: 'Abril Fatface', cursive;
        margin-bottom: 15px;
    }

    @keyframes slidein {
      from {
        margin-left: 100%;
        width: 50%;
      }

      to {
        margin-left: 0%;
        width: 100%;
      }
    }


    button.continue-btn {
        font-family: 'Crimson Pro', serif;
        font-size: 250%;
        margin-right: 140px;
        margin-top: 60px;
        width: 30%;
        text-align: center;
        background-color: #f0f0f0;
        border: none;
        float: right;
    }

}

.loader{
    position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(https://j2n9a3i8.stackpathcdn.com/wp-content/uploads/2014/08/Preloader_3.gif)  center no-repeat #fff;
}