body {
    background-color: #171717;
}

#brand-name-area {
    margin-top: 3%;
    margin-left: 10%;
    text-align: center;
    width: 30%;
}

.brand-name {
    animation-duration: 3s;
    animation-name: slidein;
    font-size: 600%;
    color: white;
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 15px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 50%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


.sub-heading {
    color: white;
    font-family: 'Crimson Pro', serif;
}

.home-page-btn {
    font-family: 'Crimson Pro', serif;
    font-size: 250%;
    margin-left: 40%;
    margin-top: 0%;
    width: 30%;
    text-align: center;
    background-color: #f0f0f0;
    border: none;
}

.home-page-real-image {
    height: 300px;
    position: absolute;
    z-index: 5;
    margin-left: 600px;
    margin-top: 3%;
    animation-duration: 6s;
    animation-name: slide-real;
}
.home-page-cartoon-image {
    height: 300px;
    position: absolute;
    z-index: 5;
    float: right;
    margin-left: 1000px;
    margin-top: 3%;
    animation-duration: 6s;
    animation-name: slide-fake;
}

@keyframes slide-real {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 600px;
  }
}

@keyframes slide-fake {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 1000px;
  }
}


