body {
    background-color: #171717;
}

#brand-name-area {
    margin-top: 10%;
    margin-left: 10%;
    text-align: center;
    width: 30%;
}

.brand-name {
    font-size: 100px;
    color: white;
    font-family: 'Abril Fatface', cursive;
}

.sub-heading {
    color: white;
    font-family: 'Crimson Pro', serif;
}