body {
    background-color: #171717;
}

#brand-name-area {
    margin-top: 3%;
    margin-left: 10%;
    text-align: center;
    width: 30%;
}

.brand-name {
    font-size: 100px;
    color: white;
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 15px;
}

.sub-heading {
    color: white;
    font-family: 'Crimson Pro', serif;
}

.home-page-btn {
    font-family: 'Crimson Pro', serif;
    font-size: 250%;
    margin-left: 40%;
    margin-top: 5%;
    width: 30%;
    text-align: center;
    background-color: #f0f0f0;
    border: none;
}